<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="border shadow p-5 rounded" action="" style="width: 450px;">
        <h1 class="text-center p-4 mb-4">LOGIN</h1>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="text" class="form-control" 
          name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep Me Signed In</label>
        </div>
        <div class="d-flex justify-content-center"> <!-- Center the button -->
            <button type="submit" class="btn btn-dark mt-3" style="width: 150px;">Login</button>
          </div>
      </form>
</div>

